<div *ngIf="showUser">
<div class="component">
  <div *ngIf="jeldobavio" class="container">
    <div class="row py-5 mt-5">
      <div class="col-md-8 mx-auto">
          <div class="bg-white shadow rounded overflow-hidden">
              <div class="px-4 pt-0 pb-4 cover">
                  <div class="media align-items-end profile-head">
                      <div class="profile mr-3">
                        <img src={{profile.user.image}} alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        <button mat-raised-button class="btn btn-sm btn-block" (click)="goToEditProfile()" *ngIf="isLoggedInUser">Edit profile</button>
                        <button mat-raised-button class="btn btn-sm btn-block" (click)="follow()" color="primary" *ngIf="!canBeUnfollowed && !requestSent && !isLoggedInUser">Follow</button>
                        <button mat-raised-button class="btn btn-sm btn-block" (click)="unfollow()" color="accent" *ngIf="canBeUnfollowed">Unfollow</button>
                        <button mat-raised-button class="btn btn-sm btn-block" (click)="cancelRequest()" *ngIf="requestSent">Cancel follow request</button>
                      </div>
                      <div class="row mr-3">
                        <!-- <button mat-raised-button class="btn btn-sm btn-block" style="color: red;" *ngIf="!isMuted">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-slash" viewBox="0 0 16 16">
                          <path d="M5.164 14H15c-.299-.199-.557-.553-.78-1-.9-1.8-1.22-5.12-1.22-6 0-.264-.02-.523-.06-.776l-.938.938c.02.708.157 2.154.457 3.58.161.767.377 1.566.663 2.258H6.164l-1 1zm5.581-9.91a3.986 3.986 0 0 0-1.948-1.01L8 2.917l-.797.161A4.002 4.002 0 0 0 4 7c0 .628-.134 2.197-.459 3.742-.05.238-.105.479-.166.718l-1.653 1.653c.02-.037.04-.074.059-.113C2.679 11.2 3 7.88 3 7c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0c.942.19 1.788.645 2.457 1.284l-.707.707zM10 15a2 2 0 1 1-4 0h4zm-9.375.625a.53.53 0 0 0 .75.75l14.75-14.75a.53.53 0 0 0-.75-.75L.625 15.625z"/>
                        </svg>Mute
                      </button>
                      <button mat-raised-button class="btn btn-sm btn-block" *ngIf="isMuted">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                        </svg>Unmute
                      </button> -->
                      <button mat-raised-button class="btn btn-sm btn-block" *ngIf="canBeUnfollowed" (click)="openNotificationSettingsDialog()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                          <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                        </svg>
                      </button>
                      </div>
                      <div class="row">
                        <button mat-raised-button class="btn btn-sm btn-block" *ngIf="canBeUnfollowed"  [matMenuTriggerFor]="aboveMenu">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                          </svg>
                        </button>
                        <mat-menu #aboveMenu="matMenu" yPosition="above">
                          <div>
                          <button mat-menu-item (click)="mute()" *ngIf="!isMuted">Mute</button>
                          <button mat-menu-item (click)="unmute()" *ngIf="isMuted">Unmute</button>

                          </div>
                          <mat-divider></mat-divider>
                          <button mat-menu-item style="color: red;" (click)="block()">Block</button>
                          </mat-menu>
                      </div>
                      <div class="media-body mb-5 text-white">
                          <h2 class="large mt-0 mb-0">{{profile.user.username}} <i *ngIf="profile.user.category !== 'Others'" class="bi bi-patch-check-fill"></i></h2>

                          <p class="large mb-4">  <label *ngIf="profile.user.category !== 'Others'" class="font-weight-light font-italic" >{{profile.user.category}}</label> <br>{{profile.user.address}}</p>

                      </div>
                  </div>
              </div>
              <div class="bg-light p-4 d-flex justify-content-end text-center">
                  <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                          <h2 class="font-weight-bold mb-0 d-block">{{profile.posts.length}}</h2><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
                      </li>
                      <li class="list-inline-item" (click)="openFollowersDialog()">
                          <h2 class="font-weight-bold mb-0 d-block">{{followers.length}}</h2><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                      </li>
                      <li class="list-inline-item" (click)="openFollowingDialog()">
                          <h2 class="font-weight-bold mb-0 d-block">{{following.length}}</h2><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                      </li>
                  </ul>
              </div>
              <div class="description d-flex flex-row" >
                <div class="px-4 py-3">
                  <h2 class="large mt-0 mb-4">{{profile.user.name}} {{profile.user.surname}}</h2>
                  <div class="bio" *ngIf="profile.user.bio!==null">
                    <h4 class="mb-0">About</h4>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <p class="mb-0">{{profile.user.bio}}</p>

                    </div>
                  </div>
                  <div class="bio" *ngIf="profile.user.web!==null">
                    <h4 class="mb-0">Website</h4>
                    <div class="p-4 rounded shadow-sm bg-light">
                        <a class="mb-0" href={{web}}>{{profile.user.web}}</a>
                    </div>
                  </div>
                </div>

              </div>

              <div class="p-4 rounded shadow-sm bg-light" *ngIf="showDetails">
                <div >
                  <h4 class="mb-0">Stories</h4>
                  <div class="rounded shadow-sm bg-light">
                    <div class="py-2 h-screen">
                        <div class="md:flex">
                          <div class="w-full p-2 py-4">
                            <div class="d-flex flex-row align-items-center" style=" overflow-x: auto;">
                              <button mat-fab class="mr-3" color="primary" (click)="createNewHighlight()" *ngIf="isLoggedInUser">
                                <mat-icon>add</mat-icon>
                              </button>
                              <div class="d-flex flex-column align-items-center" *ngFor="let high of storyHighlights"  >
                                <img src={{high.highlightPhoto}} class="rounded-image mr-3 " (click)="openStoryHighlightDialog(high)">
                                <span style="font-size:small">{{high.name}}</span>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                  </div>
                </div>

              </div>

              <div *ngIf="isLoggedInUser && !isCollectionChosen" class="d-flex flex-row justify-content-between align-items-center mt-3">
                <div class="col align-items-center">
                  <button mat-raised-button class="btn btn-sm btn-block" (click)="seePosts()">Posts</button>
                </div>
                <div class="col align-items-center">
                  <button mat-raised-button class="btn btn-sm btn-block" (click)="seeStories()">Stories</button>
                </div>
                <div class="col align-items-center">
                  <button mat-raised-button class="btn btn-sm btn-block" (click)="seeFavorites()">Favorites</button>
                </div>
                <div class="col align-items-center">
                  <button mat-raised-button class="btn btn-sm btn-block" (click)="seeCollections()">Collections</button>
                </div>
              </div>
              <div *ngIf="isLoggedInUser && isCollectionChosen" class="d-flex flex-row justify-content-between align-items-center mt-3">
                <div class="col align-items-center">
                  <button mat-raised-button class="btn btn-sm btn-block" (click)="backToProfile()">Back</button>
                </div>
                <div class="col align-items-center">
                </div>
                <div class="col align-items-center">
                </div>
                <div class="col align-items-center">
                </div>
              </div>
              <div class="py-2 px-2" *ngIf="arePosts">
                  <div class="d-flex flex-row justify-content-center " *ngIf="!showDetails">
                    <mat-icon class="mr-2">lock</mat-icon><p>Sorry, this profile is private</p>
                  </div>
                  <div class="row" *ngIf="showDetails">
                      <div class="col-lg-6 mb-2 d-flex justify-content-center " *ngFor="let post of profile.posts">

                        <div *ngIf="!post.isVideo" (click)="showImage(post)">
                          <img src={{post.images}} alt="" class="img-fluid rounded shadow-sm" style="max-height: 20rem; height: auto; width: 100%; object-fit: contain;" >
                        </div>
                        <div *ngIf="post.isVideo" (click)="showImage(post)" >
                          <video controls disabled="true" style="object-fit: contain; max-width: 100%; max-height: 100%; justify-content: center;" #videoPlayer>
                            <source src={{post.images}} type="video/mp4">
                          </video>


                        </div>
                      </div>
                  </div>
              </div>

              <div class="py-2 px-2" *ngIf="areStories">
                <div class="row">
                    <div class="col-lg-6 mb-2 d-flex justify-content-center " *ngFor="let s of allStories">
                      <img src={{s.story}} alt="" class="img-fluid rounded shadow-sm" style="max-height: 20rem; height: auto; width: 100%; object-fit: contain;">
                    </div>
                </div>
              </div>

              <div class="py-2 px-2" *ngIf="areFavorites">
                <div class="col-lg-6 mb-2 d-flex justify-content-center " *ngFor="let post of allFavorites">
                  <div *ngIf="!post.isVideo">
                    <img src={{post.images}} alt="" class="img-fluid rounded shadow-sm" style="max-height: 20rem; height: auto; width: 100%; object-fit: contain;" (click)="showImage(post)">
                  </div>
                  <div *ngIf="post.isVideo" >
                    <video controls disabled="true" style="object-fit: contain; max-width: 100%; max-height: 100%; justify-content: center;" #videoPlayer>
                      <source src={{post.images}} type="video/mp4">
                    </video>
                    <button mat-fab class="mr-3" color="primary" (click)="showImage(post)" *ngIf="isLoggedInUser">
                      <mat-icon>open_with</mat-icon>
                    </button>
                  </div>
                </div>
              </div>

              <div class="py-2 px-2" *ngIf="areCollections && !isCollectionChosen">
                <div class="row d-flex justify-content-center mt-2 mb-3" *ngFor="let collection of allCollections">
                  <mat-card class="mat-elevation-z8"  style="width:15rem; height:15rem ">
                    <div class="d-flex justify-content-center" style="font-size: 1.2rem;">
                      {{collection.name}}
                    </div>
                    <div class="d-flex justify-content-center" style="width: auto; height: 10rem;">
                      <button mat-fab class="align-self-center" style="background-color: rgb(202, 200, 200);" (click)="openCollection(collection)">
                        <mat-icon> zoom_out_map</mat-icon>
                      </button>
                    </div>
                  </mat-card>
                </div>
              </div>
              <div class="py-2 px-2" *ngIf="isCollectionChosen">
                <div class="row d-flex justify-content-center mt-2 mb-3" *ngFor="let post of chosenCollection.posts">
                  <div *ngIf="!post.isVideo">
                    <img src={{post.images}} alt="" class="img-fluid rounded shadow-sm" style="max-height: 20rem; height: auto; width: 100%; object-fit: contain;" (click)="showImage(post)">
                  </div>
                  <div *ngIf="post.isVideo" >
                    <video controls disabled="true" style="object-fit: contain; max-width: 100%; max-height: 100%; justify-content: center;" #videoPlayer>
                      <source src={{post.images}} type="video/mp4">
                    </video>
                    <button mat-fab class="mr-3" color="primary" (click)="showImage(post)" *ngIf="isLoggedInUser">
                      <mat-icon>open_with</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>

  </div>

</div>
</div>
