<div class="component">
  <h2 class="d-flex flex-column text-center">Notifications</h2>
    <div class="notif-row row" *ngFor="let notification of notifications" (click)="goToNotification(notification)">
      <div class="col-2 mt-3 mb-2">
        <img src={{notification.notificiare.profilePhoto.path}} width="40" class="rounded-image">
      </div>
      <div class="col-8 mt-4 mb-2">
        <span class="name">{{notification.notificiare.username}}</span><span>   {{notification.content}}</span>
      </div>
      <div class="col-2 mt-3 mb-2" *ngIf="notification.isPostRelated">
        <img src={{notification.postThumb.image.path}} class="square-image">
      </div>
      <mat-divider></mat-divider>




  </div>
</div>
