<div class="component">
  <div class="d-flex flex-column align-items-left">
    <div class="d-flex flex-row align-items-left">
      <img src="{{data.user.profilePhoto}}"  width="50" class="rounded-circle mr-2">
      <span class="font-weight-bold mt-3">{{data.user.username}}</span>
    </div>

  <div *ngIf="canReport">
  <div class="d-flex flex-column align-items-right">
    <!-- <i class="bi bi-three-dots" (click)="openOptionsDialog()"></i> -->
    <button mat-icon-button [matMenuTriggerFor]="aboveMenu">  <mat-icon>more_horizont</mat-icon>
    </button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
      <button mat-menu-item (click)="reportStory()">Report</button>
      
    </mat-menu>
  </div>
</div>
    

    <div class="d-flex flex-column align-content-center mt-4">
      <img src="{{data.storyContent.content}}" style="width: 100%; height: auto;   max-height: 66vh; object-fit: contain;">

    </div>
  </div>



</div>
