.component{
  background-image: linear-gradient( 135deg, #b8fad3 10%, #022457 100%);
  width: 100%;
  height: 100%;
  display:flex;
  justify-content:center;
  flex-direction: row;
}

.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

.content{
    width:100%;
    height:65%;
    display:flex;

      /* flex-direction:column; */
}

#title{
    margin-left: 5%;
    margin-top: 20%;
    width:90%;
    justify-content:center;
    height:30%;
}

#title-text{
   /* margin-top: -5%;*/
    font-size: 3rem;
    font-weight:400;
    color:white;
   /* line-height:100%;*/
    font-family: 'Roboto', sans-serif;
}
