<mat-drawer-container autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 10%; background: transparent;" hasBackdrop="true">
    <mat-drawer-content>
            
      <div class="table-wrapper">
          <table matSort class="fl-table" >
              <thead>
                <tr>
                    <th>Name & surname</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Web page</th>
                    <th>Approve</th>
                    <th>Reject</th>
                    
                
                </tr>
                </thead>
                <tbody>
                <tr  >
                    <td>Stefan Stefan</td>
                    <td>stef12123</td>
                    <td>stef@stef.com</td>
                    <td >stefan.com</td>
                    <td><button mat-button style="background-color: darkslategray; color: white;" >Approve</button></td>
                    <td><button mat-button style="background-color: darkslategray; color: white;">Reject</button></td>
                   
        
                </tr>
              <tbody>
          </table>
      </div>
</mat-drawer-content>


</mat-drawer-container>

