.rounded-image {
  border-radius: 50% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height:80px;
  width: 80px;
}

.sim-image {
  height:70px;
  width: 60px;
}

.karusel{
  /* FUCKING HELL I DONT KNOW HOW TO FIX THIS FUCKING SHIT
    EITHER ARROWS ARE RETARDED OR CONTENT SCROLLS OVER NAVBAR FUCKING SHIT AAAAAAA
  */
  /* position: inherit; */
  max-height: 40rem;
}
