<div class="component mt-5">
  <div class="searcharea mt-5" style="width: 50%; margin-left: 25%;">
    <div class="py-2 h-screen px-2">
      <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg  md:max-w-lg">
        <div class="md:flex">
          <div class="w-full p-2 px-4 py-4">
            <form [formGroup]="searchForm">

            <div class="d-flex flex-row align-items-center" style=" overflow-x: auto;">

              <div class="col-5">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Search category</mat-label>
                  <mat-select formControlName="category">
                    <mat-option value="profile">Profile</mat-option>
                    <mat-option value="location">Location</mat-option>
                    <mat-option value="tag">Tag</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-5">
                <mat-form-field style="width: 100%;" appearance="outline">
                  <mat-label>Search...</mat-label>
                  <input matInput formControlName="query">

                </mat-form-field>
              </div>


              <div class="col-2 mb-4">
                <button mat-fab color="primary" style="height: 100%;" (click)="search()" [disabled]="!searchForm.valid"><mat-icon>search</mat-icon>
                </button>
              </div>
            </div>
          </form>

          </div>
        </div>
      </div>
  </div>
  <div class="resultsposts"  *ngIf="!isSearchedUsers">
    <div class="feed" *ngFor="let item of searchedPosts" >
      <feed-card [post]="item"></feed-card>

    </div>
  </div>

    <mat-card class="resultsusers" style="width: 98%; margin-left: 1%;" *ngIf="isSearchedUsers && isSearched" >
      <div class="row" *ngFor="let item of searchedProfiles" >
        <!-- <feed-card [post]="item"></feed-card> -->
        <div class="col mt-2 mb-2" (click)="goToProfile(item.id)">
          <img src={{item.image}}  class="rounded-image">
        </div>
        <div class="col-6 mt-4 mb-2">
          <span class="name ">{{item.username}} <br> {{item.name}} {{item.surname}}</span>
        </div>

        <!-- <div class="col mt-4 mb-2">
            <button mat-raised-button class="mt-2" color="primary" (click)="follow(item)">Follow</button>
        </div> -->
        <mat-divider></mat-divider>
      </div>
    </mat-card>


    <mat-card class="resultsusers" style="width: 98%; margin-left: 1%;" *ngIf="isSearchedLocations && isSearchedLocation" >
      <div class="row" *ngFor="let item of searchedPostLocations" >
        <!-- <feed-card [post]="item"></feed-card> -->
        <div class="col mt-1 mb-1" >
          <img src="https://i.imgur.com/gkAfgTk.png" class="sim-image">
        </div>
        <div class="col-5 mt-4">
          <span class="name ">{{item.location}}</span>
        </div>

        <div class="col mt-4 mb-2">
            <button mat-raised-button class="mt-2" color="primary" (click)="chooseLocation(item)">Choose location</button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-card>


    <mat-card class="resultsusers" style="width: 98%; margin-left: 1%;" *ngIf="isSearchedTags && isSearchedTag" >
      <div class="row" *ngFor="let item of searchedPostTags" >
        <!-- <feed-card [post]="item"></feed-card> -->
        <div class="col mt-1 mb-1" >
          <img src="https://i.imgur.com/db8nHVG.png" class="sim-image">
        </div>
        <div class="col-5 mt-4">
          <span class="name ">#{{item.hashtag}}</span>
        </div>

        <div class="col mt-4 mb-2">
            <button mat-raised-button class="mt-2" color="primary" (click)="chooseLocation(item)">Choose tag</button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-card>



    <div style="width: 100%; max-height: 40rem; height: fit-content;" *ngIf="arePostsSearchedByLocation">

      <div *ngFor="let post of postsForSearch, let i = index">
        <mat-divider fxFlex="1 0"></mat-divider>
        <div style="text-align: center;"> <b>{{i+1}}.</b></div>
        <mat-divider fxFlex="1 0"></mat-divider>
        <div class="d-flex justify-content-between p-2 px-3" *ngIf="arePostsSearchedByLocation">
          <div class="d-flex flex-row align-items-center" > <img src="{{post.profile_photo}}"  width="50" class="rounded-circle">
              <div class="d-flex flex-column ml-2"> <span class="font-weight-bold"></span> {{post.username}} <small class="text-primary"></small> </div>
          </div>
        </div>

          <mat-carousel
          color="accent"
          maxWidth="auto"
          hideArrows="false"
          autoplay ="false"
          slides={{post.image.length}}
          [hideArrows]="false"
          [hideIndicators]="true"
          [useKeyboard]="true"
          [useMouseWheel]="false"
          orientation="ltr"
          proportion="100"

          *ngIf="post.type === 'ALBUM' && post.tpye !=='VIDEO'">

            <mat-carousel-slide
              #matCarouselSlide
              id="carouselImg"
              *ngFor="let image of post.image"
              [image]="image"
              overlayColor="#00000040"
              [hideOverlay]="false"
              ></mat-carousel-slide>

        </mat-carousel>

      <img *ngIf="post.type !== 'ALBUM' && post.type !== 'VIDEO'" src="{{post.image[0]}}" style="width: 100%; height: auto;   max-height: 40rem; object-fit: contain ;">
        <div class="row d-flex flex-column justify-content-center"  *ngIf="post.type === 'VIDEO' && post.type !== 'ALBUM'">
          <div class="col">
            <video controls disabled="true" style="object-fit: contain; max-width: 100%; max-height: 100%; justify-content: center;" #videoPlayer>
              <source src={{post.image[0]}} type="video/mp4">
            </video>
          </div>
        </div>

    </div>
    </div>
  </div>

</div>
