<div class="component">
    <div class="d-flex flex-column align-items-center">
      <div class="flex-row align-items-center align-content-center text-center">
        
            Do you also want to ban user {{user.username}}?

              <div style="display: flex;">
                <button mat-button  style=" background-color: darkslategray; color: white; width: 210px; margin-right: 20px;" color="primary" (click)="closeDialog()" >No</button>
                <button mat-button style=" background-color: darkslategray; color: white; width: 210px;" color="primary" (click)="banUser()" >Yes</button>
              </div>

      </div>
    
      </div>
  
  
  
  
  </div>
  