<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-primary fixed-top" >
    <a class="navbar-brand" style="margin-left: 20px;" href="/">Nishtagram</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
      aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
          <i class="nav-link bi-plus-square" routerLink="/createPost"></i>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item" (click)="openNotificationsDialog()">
          <i class="nav-link bi bi-bell"></i>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
          <i class="nav-link bi-person-circle" routerLink="/profile"></i>
          <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" >Login</a>
            <span class="sr-only">(current)</span>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/registration" >Registration</a>
            <span class="sr-only">(current)</span>
        </li>
        <li>
          <div class="input-group rounded">
            <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
              aria-describedby="search-addon" />
            <span class="input-group-text border-0" id="search-addon">
              <i class="fas fa-search"></i>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--/.Navbar -->

